body{
    align-content: center;
    background-image: url("./wEVac7.jpg");

    background-position: center;
    background-size: cover;
}

h1{
    color: yellow;
    font-size: 50px;

    border: 1px solid black;
    margin-right: 150px;
    margin-left: 150px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: rgb(252, 75, 44);
    
}

p{
    font-size: 50px;
    color: yellow;
    text-align: center;
    border: 5px solid black;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: rgb(252, 75, 44);
    border-bottom-style:double ;
    border-top-style:dotted ;
}

div{
    background-color: rgb(255, 255, 255);
    margin-right: 400px;
    margin-left: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 200px;

} 
button{
    background-color: black;
    color: wheat ;
    margin-left: 185px;
}

/*div{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-end;
    justify-content: flex-start;
} */